# --- Source Control & Config ---
.cursor/
.git/
.gitignore
.github/
.vscode/
.dockerignore
Dockerfile

# --- Dependencies & Builds ---
node_modules
.next/
next-env.d.ts

# --- System Files ---
.DS_Store
npm-debug.log
yarn-error.log