www.tkpremier.com {
	redir https://tkpremier.com{uri}
}
tkpremier.com {
	encode gzip

	@health {
		path /healthz
	}
	handle @health {
		respond "ok" 200
	}

	reverse_proxy client:3000
}

api.tkpremier.com {
	encode gzip

	@health {
		path /healthz
	}
	handle @health {
		respond "ok" 200
	}

	reverse_proxy api:3001
}