// Initial code from https://codepen.io/yuhomyan/pen/OJMejWJ

.button {
  width: auto;
  color: #fff;
  border-radius: 5px;
  padding: 5px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.primary {
  background: linear-gradient(0deg, rgba(0, 255, 38, 1) 0%, rgba(191, 243, 199, 1) 100%);
  line-height: 42px;
  border: none;
  &:before,
  &:after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    background: rgba(191, 243, 199, 1);
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
      7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  &:before {
    height: 0%;
    width: 2px;
  }
  &:after {
    width: 0%;
    height: 2px;
  }

  &:hover {
    color: rgba(191, 243, 199, 1);
    background: transparent;
    &:before {
      height: 100%;
    }
    &:after {
      width: 100%;
    }
  }
  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    &:before,
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background: rgba(191, 243, 199, 1);
      box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
        7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
    }
    &:before {
      width: 2px;
      height: 0%;
    }
    &:after {
      height: 2px;
      width: 0%;
    }
    &:hover {
      &:before {
        height: 100%;
      }
      &:after {
        width: 100%;
      }
    }
  }
}

.card {
  position: relative;
  transition: transform 0.25s ease-in-out;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  perspective: 1000px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  pointer-events: none;
  &Item {
    position: absolute;
    top: 0;
    right: 0;
    backface-visibility: hidden;
    &Back {
      transform: rotateY(180deg);
    }
  }
  &IsFlipped {
    pointer-events: all;
    cursor: pointer;
    transform: rotateY(180deg);
  }
}
