@use 'vars' as *;

.slide {
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms cubic-bezier(0.35, 0.96, 0.75, 0.77);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  &IsActive {
    opacity: 1;
    z-index: 5;
  }
}
.slider {
  position: relative;
  min-height: 500px;
  width: 100%;
  max-width: $maxContainer;
  margin: 50px auto;
  &Track {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: flex-start;
  }
  &Wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.carousel {
  &Track {
    display: flex;
    list-style: none;
    padding: 0;
    flex-flow: row nowrap;
    &IsAnimating {
      transition: transform 500ms ease;
    }
    > * {
      flex: 0 0 auto;
      box-sizing: border-box;
      min-height: 500px;
      padding: 10px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.button {
  width: 50px;
  height: 50px;
  padding: 0;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: calc(50% - 25px);
  cursor: pointer;
  z-index: 10;
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    margin-top: -14px;
  }
  &IsDisabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &Previous {
    left: 0;
    &::before {
      margin-left: 16px;
      transform: rotate(-45deg);
    }
  }
  &Next {
    right: 0;
    &::before {
      margin-right: 16px;
      transform: rotate(135deg);
    }
  }
}
