@use 'vars' as *;

.container {
  max-width: $maxContainer;
  padding: 0 1rem;
  margin: 0 auto 6rem;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: $maxContainer;
  margin-top: 3rem;
}

.iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  &Wrapper {
    position: relative;
    width: 100%;
    padding-top: calc((315 / 560) * 100%);
  }
}

.mainRoot {
  max-width: $maxContainer;
  margin: 60px auto 6rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  @media screen and (min-width: calc($maxContainer + 2rem)) {
    padding: 0;
  }
}
.card {
  margin: 1rem 0;
  justify-self: stretch;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid hsla(129, 68%, 85%, 1);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &:hover,
  &:focus,
  &:active {
    color: hsla(129, 68%, 69%, 1);
    border-color: hsla(129, 68%, 69%, 1);
  }
  h3 {
    color: hsla(129, 68%, 69%, 1);
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.backToHome {
  margin: 3rem 0 0;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
}
