.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
  margin: 66px auto 0;
  max-width: var(--max-width);
  background-color: #fff;
}

.ModalHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.ModalContent {
  padding: 1rem;
}
